<div class="container mt-3" style="    margin-left: 0px;">

    <h1 style="margin-left: 315px;">Users And Applied Technologies</h1>

    <table class="table" style="margin-left: 211px;">

        <thead>

            <th> SL Number </th>
            <th> Name of User </th>
            <th> Email </th>

            <th> Applied Technology </th>

            <th> Institute Name </th>
            <th> Fees </th>
            <th> Applied Date </th>
            <th> Status </th>
            

            

            

        </thead>

        <tr *ngFor="let item of Dataarray let i=index" class="table-primary">

            <td> {{i+1}} </td>
            <td> {{item.name}}</td>
            <td> {{item.email}}</td>

            <td> {{item.technologyName}}</td>

            <td> {{item.instituteName}} </td>

            <td> {{item.fees}} </td>
           <td> {{item.dates}} </td>
           <td> {{item.status}} </td>

            


            <!-- <td><a [routerLink]="['/Adminhome/deletecourse',item.courseid]">Delete</a></td> -->



        </tr>

    </table>

</div>



