/*W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,
Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross 
browser supported, best quality world class designs.*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,500i,600,700,700i,800');
body{
	
	background-image: linear-gradient(to right, #e3ad9e,#90e1ee,#e3c0de); 
margin:0;
padding:0;
overflow-x: hidden;
font-family: 'Raleway', sans-serif;
}

a:link{text-decoration: none;}
h1{
	text-align: center;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 20px;
}
h2{
	
	font-size: 40px;
	padding-bottom: 20px;
	letter-spacing: 1px;
}
form{
	
	
	display: block;
	text-align: center;
	margin: 10px auto;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 4px;
	background-image: linear-gradient(to right, light rgb(183, 170, 231),light rgb(180, 175, 224)); 
	
}
.btn-dark{
	width: 80%;
	font-size: 18px;
}
.form-check{
	text-align: center !important;
	padding: 10px;
}
#sign .form1{
	width:60%;
	border:2px solid black;
	display: block;
	text-align: center;
	margin: 70px auto;
	padding: 50px;
	
}
.form-control::placeholder{
	padding-left: 10px;
}
.form-control{
	outline:none;
	border:none;
	margin:0 auto;
	width:80%;
	border-bottom: 1px solid #fff;
	border-radius: 40px;
	height: 40px;
}
.form-control:focus{
	border:none;
	
	box-shadow: none;
	border: 1px solid #000;
}
.form-control:hover{
	text-decoration: none;
	border:none;
	
	box-shadow: none;
	border: 1px solid #000;

	
}
.form-check{
text-align: left;
font-size:20px;
}

@media(max-width: 768px){
	#sign{
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
@media(max-width: 424px){
	h1{
		font-size: 30px;
	}
}