

<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top" >
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">LEARNZILLA</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="index.html">Home</a></li>
          <li><a [routerLink]="['../about']">About</a></li>
          
          <li><a href="viewtech">View Technologies</a></li>
          <li><a href="Searchtech">search technologies </a></li>
          <li><a href="../guesthome">Logout </a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <!-- <a href="courses.html" class="get-started-btn">Get Started</a> -->

    </div>
  </header><!-- End Header -->

   <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>
      <a [routerLink]="['#']" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->
  
  <main id="main">
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
  
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Features Of Learnzilla</h3>
            <p class="fst-italic">
              Learnzilla has many features.They are:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Available 24*7 hours service.</li>
            <li><i class="bi bi-check-circle"></i> Fast & Light weight.</li>
            <li><i class="bi bi-check-circle"></i> Easy Catching of data.</li>
            <li><i class="bi bi-check-circle"></i> Well Organized Content.</li>
            <li><i class="bi bi-check-circle"></i> well dedicatedbwebsite.</li>
            <li><i class="bi bi-check-circle"></i> User-friendly Interface.</li>
            <li><i class="bi bi-check-circle"></i>600+ Carefully Crafted Videos by Highly Qualified Trainers.</li>
            </ul>
            <p>
              <!-- Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate -->
            </p>
  
          </div>
        </div>
  
      </div>
    </section><!-- End About Section -->
  
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts section-bg">
          <div class="container">
  
            <div class="row counters">
  
              <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter">1232</span>
                <p>Students</p>
              </div>
  
              <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter">64</span>
                <p>Courses</p>
              </div>
  
              <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter">42</span>
                <p>Events</p>
              </div>
  
              <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter">15</span>
                <p>Trainers</p>
              </div>
  
            </div>
  
          </div>
        </section><!-- End Counts Section -->
  
      <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>Why the LearnZilla?</h3>
                <p>
                  Learnzilla is India’s best Website for Freshers appearing for Campus Placement, Off-Campus Placement, or preparing for the various Offline Employability Tests conducted by AMCAT, CoCubes, eLITMUS, or others. The Mobile App interface is intuitive, fast, and lightweight providing the best mobile platform for placement Test preparation, which can be accessed anywhere, anytime.
                </p>
                <div class="text-center">
                  <a [routerLink]="['#']" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-receipt"></i>
                      <h4>Corporis voluptates sit</h4>
                      <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Ullamco laboris ladore pan</h4>
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-images"></i>
                      <h4>Labore consequatur</h4>
                      <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                    </div>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section><!-- End Why Us Section -->
  
  
      <!-- ======= Popular Courses Section ======= -->
      <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Courses</h2>
            <p>Popular Courses</p>
          </div>
  
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Web Development</h4>
                    <p class="price">$169</p>
                  </div>
  
                  <h3><a [routerLink]="['#']">Website Design</a></h3>
                  <p>Web design refers to the design of websites that are displayed on the internet. It usually refers to the user experience aspects of website development rather than software development.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                      <span>Antonio</span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Marketing</h4>
                    <p class="price">$250</p>
                  </div>
  
                  <h3><a [routerLink]="['#']">Search Engine Optimization</a></h3>
                  <p>Search engine optimization (SEO) is the process of improving the quality and quantity of website traffic to a website or a web page from search engines.SEO targets unpaid traffic rather than direct traffic or paid traffic.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                      <span>Lana</span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;35
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;42
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Content</h4>
                    <p class="price">$180</p>
                  </div>
  
                  <h3><a [routerLink]="['#']">Copywriting</a></h3>
                  <p>Website copywriting is the process of writing digital content for landing pages, product pages, blog posts, and everything in between.Copywriting is essentially moving words around to sell better.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                      <span>Brandon</span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;20
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;85
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
  
          </div>
  
        </div>
      </section><!-- End Popular Courses Section -->
  
      <!-- ======= Trainers Section ======= -->
      <!-- <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
  
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Walter White</h4>
                  <span>Web Development</span>
                  <p>
                    Web development is the work involved in developing a website for the Internet or an intranet.
                  </p>
                  <div class="social">
                    <a [routerLink]="['#']"><i class="bi bi-twitter"></i></a>
                    <a [routerLink]="['#']"><i class="bi bi-facebook"></i></a>
                    <a [routerLink]="['#']"><i class="bi bi-instagram"></i></a>
                    <a [routerLink]="['#']"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Sarah Jhinson</h4>
                  <span>Marketing</span>
                  <p>
                    Marketing is the process of exploring, creating, and delivering value to meet the needs of a target market in terms of goods and services.
                  </p>
                  <div class="social">
                    <a [routerLink]="['#']"><i class="bi bi-twitter"></i></a>
                    <a [routerLink]="['#']"><i class="bi bi-facebook"></i></a>
                    <a [routerLink]="['#']"><i class="bi bi-instagram"></i></a>
                    <a [routerLink]="['#']"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>William Anderson</h4>
                  <span>Content</span>
                  <p>
                    Content is information presented with a purpose distributed to people in a form through a channel.
                  </p>
                  <div class="social">
                    <a [routerLink]="['#']"><i class="bi bi-twitter"></i></a>
                    <a [routerLink]="['#']"><i class="bi bi-facebook"></i></a>
                    <a [routerLink]="['#']"><i class="bi bi-instagram"></i></a>
                    <a [routerLink]="['#']"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>End Trainers Section -->
  
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
  <footer id="footer">
  
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Learnzilla</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +91 8310009222<br>
              <strong>Email:</strong> learnzilla@gmail.com<br>
            </p>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe our newsletter to receive the latest news and exclusive offers every week. No spam.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container d-md-flex py-4">
  
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Learnzilla</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a [routerLink]="['#']">Anjana Ravindran,Dona N K,Gisna Abraham,Jishamol Sebastian,Praveena Chandran</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a [routerLink]="['#']" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a [routerLink]="['#']" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a [routerLink]="['#']" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a [routerLink]="['#']" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a [routerLink]="['#']" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
</body>
</html>
  <router-outlet></router-outlet>

